*, *::before, *::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: calc(1em + 0.5rem); /*? experimental */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", sans-serif;
    /* font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    background-color: oklch(20% 0 0);
    color: oklch(95% 0 0);
}

p {
    max-width: 75ch;
    /* Important */
}

input, button, textarea, select, dialog {
  font: inherit;
}

h1 {
    letter-spacing: 4px;
}

/* ================================== Reset ends here =================================== */


header {
    display: flex;
    /* flex: auto; */
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 150px;
    font-size: 32px;
    background-color: oklch(35% 0 0);
}

button {
    width: 180px;
    height: 60px;
    margin: 20px;
    border-style: none;
    border-radius: 500px;
    font-size: 28px;
    font-weight: 600;
    color: inherit;
    background-color: oklch(50% 0.11 215);
}

dialog {
    justify-self: center;
    align-self: center;

    z-index: 10;
    margin: 10px;
    padding: 10px;
    background: rgb(12, 59, 214);
    border: none;
    border-radius: 1rem;
    color: inherit;
}

dialog::backdrop {
  background-color: oklch(0% 0 0 / 0.5);
}

form {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: stretch;

    width: 350px;
}

input {
    width: 200px;
    /* TODO: Fix checkbox width */
}

.label-input {
    display: flex;
    flex-direction: row;
    /* flex: auto; */
    /* justify-self: stretch; */
    justify-content: space-between;

    padding: 5px 10px;
    background-color: rgb(12, 126, 55);
}

.close-button {
    /* justify-self: center; */
    align-self: center;
    background-color: blueviolet;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    justify-content: center;
    /* justify-content: flex-start; */
    /* align-items: stretch; */
    align-self: stretch;
    background-color: darkgreen;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 250px;
    margin: 20px;
    padding: 20px;
    background-color: brown;
}

.remove {
    margin: 20px 0 0 0;
    align-self: center;
}








